/* src/components/testApi/style.css */
.formRow button {
    background-color: #007BFF; /* Sets a blue background */
    color: white;             /* Sets the text color to white */
    padding: 10px 20px;       /* Adds padding around the button */
    border: none;             /* Removes any default border */
    border-radius: 5px;       /* Rounds the corners */
    cursor: pointer;          /* Changes the mouse cursor to a hand when over the button */
    font-size: 1rem;          /* Sets the font size */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.formRow button:hover {
    background-color: #0056b3; /* Slightly darker blue for hover effect */
}

.formRow button:disabled {
    background-color: #ccc; /* Sets a gray background for the disabled state */
    cursor: not-allowed;    /* Indicates the button is not clickable */
}

.listText {
    color: black;
}

.boldBlackText {
    font-weight: bold;
    color: black;
}

/* Overall container styling */
.CryptoWalletContainer {
    padding: 20px;
    background-color: #f4f4f4; /* Light gray background */
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(64, 28, 63, 0.1); /* A subtle shadow for depth */
    font-family: Arial, sans-serif; /* Ensure a consistent font is used */
}

.CryptoWalletContainer h2 {
    color: #333; /* Darker text color for header */
    font-weight: bold;
    margin-bottom: 20px; /* Spacing between header and table */
}

/* Style for the button when no addresses are present */
.CryptoWalletContainer button {
    background-color: #d9dcdf;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.CryptoWalletContainer button:hover {
    background-color: #0056b3;
}

.CryptoWalletContainer select {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: #333; /* Slightly darker text color for better readability */
    border: 1px solid #e0e0e0;
    padding: 8px 12px;
    padding-right: 25px; /* Extra padding for the arrow space */
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.CryptoWalletContainer select:hover, 
.CryptoWalletContainer select:focus {
    border-color: #007BFF;
}

/* Pseudo arrow for the dropdown */
.CryptoWalletContainer select:before {
    content: "▼"; /* This is your arrow */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure it doesn't block the dropdown click */
    color: #333; /* Same color as dropdown text */
}

.CryptoWalletTable td {
    vertical-align: middle; /* Aligns content to middle */
}

/* Background color fix for table rows */
.CryptoWalletTable tbody tr {
    background-color: #f4f4f4; /* Same as container background for consistent look */
}

.CryptoWalletTable tbody tr:hover {
    background-color: #e8e8e8; /* Lighter gray color for hover effect on rows */
}

/* Additional styles for the description list inside the container */
.settingsList {
    margin: 0;
    padding: 0;
}

.settingsList dt {
    margin-top: 10px;
}

.settingsList dd {
    margin-left: 20px;
    margin-top: 5px;
}

.tooltip {
    display: inline-block;
    /* position: relative;
    z-index: 1; */
}

.username-info {
    display: inline-block;
    position: relative;
    /* z-index: 1; */
    text-align: center; /* Center the content */
}

.username-info img {
    display: block;
    margin: 0 auto 5px;
}

/* Adjust the z-index for tooltips to be above the user icon */
.username-info:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    width: 12rem; /* Let it adjust to content */
    max-width: 20rem !important; /* Limit the maximum width */
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    top: 100%; /* Position it below the username */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%) translateY(5px); /* Offset it slightly below and center horizontally */
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 2; /* Set a higher z-index to make the tooltips appear above other elements */
}
